* {
    /* margin: 0; */
    /* padding: 0; */
    /* border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent; */
}

.title {
    text-align: center;
    color: white;
    /* background: coral; */
    font-size: 100px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background: linear-gradient(90deg, rgba(31,208,185,1) 0%, rgba(0,212,255,1) 100%);
}